@charset "UTF-8"; /* CSS Document */

/*-----------HOME PAGE-------------*/
#headerMain{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* The body tag style applies to all elements on the page */
body{
    background-image: linear-gradient(45deg, rgba(145, 124, 124, 0.493), black);
    background-size: auto;
    color: white;
}

.navigation{
   padding: 10px 10% 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.logo{
    width: 240px;
    border-radius: 30px;
}

.face{
    width: 350px;
    height: auto;
    margin-left: 550px;
    margin-top: -100px;
}

nav h1{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
    
nav h1 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
    
nav h1 a::after{
    content: '';
    width: 0;
    height: 3px;
    background: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav h1 a:hover::after{
    width: 100%;
}

.header-text{
    margin: 0;
    margin-top: 10%;
    font-size: 30px;
    text-align: center;
}

.header-text h2{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h2 span{
    color: rgb(63, 14, 14);
}

footer{
    background-color: white;
    width: 50%;
    height: auto;
    padding: 0px;
    margin-left: 400px;
    margin-top: -65px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerHome{
    color: black;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

.footerHome i{
    font-size: 20px; 
    color: black;
    padding-top: 25px;
}

.bitmoji{
    width: 8%;
    height: auto;
    float: left;
    margin-left: 10px;
}

/*-------------ABOUT ME PAGE----------------*/
#colorChange{
    background-image: linear-gradient(rgba(145, 124, 124, 0.493), black);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#headerAbout{
    width: 10%;
    height: 5vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigationAbout{
    padding: 15px 10% 
}

#navabout{
    background-image: linear-gradient(45deg, black, rgba(145, 124, 124, 0.493));
    border-radius: 10px;
}

nav h3{
    font-size: 25px;
    width: 30px;
    margin: 20px 20px;
}

nav h4{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
    
nav h4 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
    
nav h4 a::after{
    content: '';
    width: 0;
    height: 3px;
    background: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav h4 a:hover::after{
    width: 100%;
}

.videosection{
    width: 200px;
    height: 200px;
    margin-left: 270px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.title{
    width: 140px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 30px;
}

/* The left-column */
.about{
    width: 30%;
    height: auto;
    padding: 30px 100px;
    border-radius: 20px;
}

/* The right-column ID style is floated right */
#right-column
{
    float: right;
    width: 850px;
    height: -200px;
    margin-top: -320px;
    margin-right: 50px;
    border-radius: 20px;
    background-color:LightGray;
}

.animation{
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    font-size: 20px;
    color: white;
}

/* Styling and centering the text that will be placed to the right of the picture */
.headerName{
    color: black;
    /* Flexbox: Center text horizontally and vertically */
    display: contents;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    text-align: center;
}

.footerAbout{
    color: black;
    text-align: center;
    margin-bottom: 25px; 
    margin-left: 450px;
    flex-basis: 40%;
    font-size: 18px;
}

.footerAbout i{
    font-size: 20px; 
    color: black;
    margin-top: 20px;
    font-size: 25px;
}

/*-----------PROJECTS PAGE-------------*/



#right-work {  
    width: 70%;
    height: 600px;
    margin: 20px 225px; 
    background-color:rgba(57, 48, 42, 0.308); 
}

#right-work h2{
    padding-top: 20px;
    text-align: center;
}

#right-work p{
    text-align: center;
    margin-left: 30px 200px;
}

.box 
{ 
    height: 150px; 
    width: 150px;
    float: left; 
    background-color:rgba(209, 40, 40, 0.585); 
    margin: 20px 20px;
    margin-left: 140px; 
    /* opacity:.5;  */
} 
/* The following pseudo-class applies to the box class when in a hovered state */ 
.box:hover 
{ 
    background-color:rgba(209, 40, 40, 0.585); 
    opacity:1;
    transform: translateY(-5px); 
}

.footerWork{
    color: black;
    text-align: center;
    margin: 0px 130px;
    margin-left: 425px;
    font-size: 18px;
}

.footerWork i{ 
    color: black;
    font-size: 20px;
    padding: 25px;
}

/*-----------CONTACT ME PAGE-------------*/
#contact{
    padding: 90px 40px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Left Side of the Contact Page*/
.contact-left{
    margin: 0px 130px;
    margin-top: -400px;
    flex-basis: 40%;
}

.contact-left p i{
    color: black;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    font-size: 20px;
    color: white;
}

.social-icons a:hover{
    color: black;
    transform: translateY(-5px);
}

/*Right Side of the Contact Page*/
.contact-right{
    margin-top: -40px;
    flex-basis: 40%;
}

/* .btn.btn2{
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 30px;
}

.btn.btn2:hover{
    color: white;
    transform: translateY(-5px);
} */

.contact-right form{
    width: 100%;
}

 .contact-right form input[type="submit"]{
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    border-radius: 6px;
    cursor: pointer; /* Adds pointer cursor on hover */
}

.contact-right form input[type="submit"]:hover{
    color: white;
    transform: translateY(-5px);
} 





form input, form label{
    font-size: 17px;
}

form input, form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background: grey;
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 15px;
    border-radius: 6px;
}

.footerContact{
    color: black;
    text-align: center;
    margin: 0px 130px;
    margin-left: 450px;
    flex-basis: 40%;
    font-size: 18px;
}

.footerContact i{
    font-size: 20px; 
    color: black;
    margin-right: 5px;
    margin-top: 15px;
    font-size: 25px;
}