@charset "UTF-8"; /* CSS Document */

/*-----------HOME PAGE-------------*/

/* The body tag style applies to all elements on the page */
body{
    background-color: rgb(41, 39, 39);
    color: white;
    
}
/* The wrapper ID style is used with a div tag to provide a 960px wide page */
#header Main{
    width: 10%;
    height: 5vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation{
   padding: 10px 10% 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.logo{
    width: 240px;
}

nav h1{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
    
nav h1 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
    
nav h1 a::after{
    content: '';
    width: 0;
    height: 3px;
    background: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav h1 a:hover::after{
    width: 100%;
}

.header-text{
    margin: 0;
    margin-top: 10%;
    font-size: 30px;
    text-align: center;
}

.header-text h2{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h2 span{
    color: rgb(63, 14, 14);
}

/*-------------ABOUT ME PAGE----------------*/
#headerAbout{
    width: 10%;
    height: 5vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigationAbout{
    padding: 15px 10% 
 }

 #navabout{
    background-color: black;
    border-radius: 10px;
 }

nav h3{
    font-size: 25px;
    width: 30px;
    margin: 20px 20px;
}

nav h4{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
    
nav h4 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
    
nav h4 a::after{
    content: '';
    width: 0;
    height: 3px;
    background: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav h4 a:hover::after{
    width: 100%;
}

 .videosection{
    width: 200px;
    height: 200px;
    padding: 10px 170px;
    width: 100px;
 }

 .title{
    width: 140px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 30px;
 }

/* The right-column ID style is floated right */
#right-column
{
    float: right;
    width: 850px;
    height: -200px;
    background-color:LightGray;
}

.headerName{
    color: black;
    /* Flexbox: Center text horizontally and vertically */
    display: contents;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    text-align: center;
}


 nav h6{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 30vh 150vh;
}
    
nav h6 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
    
nav h6 a::after{
    content: '';
    width: 0;
    height: 3px;
    background: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav h6 a:hover::after{
    width: 100%;
}




/*-----------PROJECTS PAGE-------------*/



/*-----------CONTACT ME PAGE-------------*/
#contact{
    padding: 90px 40px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left{
    margin: 0px 130px;
    margin-top: -500px;
    flex-basis: 40%;
}

.contact-left p i{
    color: red;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    font-size: 20px;
    color: white;
}

.social-icons a:hover{
    color: red;
    transform: translateY(-5px);
}

.contact-right{
    flex-basis: 40%;
}

.btn.btn2{
    display: inline-block;
    background-color: red;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: grey;
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}