/* Navigation */
.navigationAbout {
    padding: 20px 0; /* Add some padding to create space between header and content */
}

/* Contact Left Section */
.contact-left {
    flex-basis: 40%;
    margin: 50px 130px; /* Add a top margin to push the content down */
}

/* Ensure Header and Navigation don't overlap */
#navabout {
    margin-bottom: 40px; /* Create space between navigation and contact content */
}

/* Media Query for smaller devices (like tablets and phones) */
   